$orange: rgba(253,187,45,1);
$strong-cyan: rgba(34,193,195,1);
$dark-cyan: rgba(8,44,44,1);
$white: rgba(255,255,255,1);
$white-trans: rgba(255,255,255,0.0);

html {
  scroll-behavior: smooth;
}

body {
  color: $dark-cyan;
  font-family: "Rubik", san-serif;
}

h2 {
  font-size: 1rem;
}

#navbar {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

#navbar.active {
  background-color: $white;
}

#navbar ul {
  display: flex;
  margin: 0;
}

#navbar li {
  list-style: none;
}

#navbar a {
  color: $white;
  font-family: "Rubik", san-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 0.5px $orange;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 1.25rem;
}

#navbar.active a {
  color: $dark-cyan;
  text-shadow: none;
}

#navbar a:hover {
  border-bottom: 3px solid $orange;
}

main {
  padding: 1rem;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(0deg, $orange 30%, $strong-cyan 100%);
}

#welcome-section h1 {
  font-size: 4rem;
  font-family: "Rubik Mono One", san-serif;
  color: $white;
  padding: 6rem 3rem 0;
  margin-top: 3.5rem;
  text-transform: uppercase;
  line-height: 4rem;
  text-shadow:
               10px 10px      $dark-cyan,
               9px 9px        $orange,
               8px 8px        $orange,
               7px 7px        $orange,
               6px 6px        $orange,
               5px 5px        $orange,
               4px 4px        $orange,
               3px 3px        $orange,
               2px 2px        $orange,
               1px 1px        $orange;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: $white-trans;
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: $white-trans;
    animation-timing-function: ease-in .1s;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: $white;
    animation-timing-function: ease-out;
  }
  80% {
    background: $white-trans;
    transform: scale(1, 1);
  }
  100% {
    background: $white-trans;
    transform: scale(1, 1);
  }
}


#welcome-section p {
  color: $white;
  font-size: 1.1rem;
  padding: 0 3rem;
  margin-top: 1rem;
  /* text-shadow: 1px 1px 30px var(--dark-cyan); */
}

#projects {
  text-align: center;
  padding-top: 3.5rem;
}

#projects p {
  margin-top: 1.5rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline wavy;
  text-underline-position: under;
  font-family: "Rubik Mono One", san-serif;
  text-shadow: 2px 2px 0.5px $orange;
}

.project-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

}

.project-tile {
  width: 80vw;
  height: 60vw;
  background-color: $strong-cyan;
  border-radius: 0.25rem!important;
  margin: 0.75rem;
}

figcaption {
  padding: 0.5rem;
}

#contact {
  margin-top: 3.5rem;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

#contact p {
  margin-top: 1.5rem;
}

/* Devices larger than 850px wide, e.g. laptops. */

@media (min-width: 850px) {
  main {
    padding: 3rem;
  }

  #navbar {
    padding: 1rem;
  }

  #navbar a {
    padding-bottom: 0.25rem;
  }

  #welcome-section p {
    font-size: 1.25rem;
  }

  #welcome-section h1 {
    margin-top: 6rem;
  }

  #contact {
    margin-top: 5.5rem;
  }

  .project-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-tile {
    width: 40vw;
    height: 30vw;
  }
}
